<p>
  Employees List!
</p>

<button (click)="showDevs()">Show developers</button>
<button (click)="showManagers()">Show Managers</button>

<ul class="employees">
  <li *ngFor= "let employee of employees">

    <a routerLink="/employee/{{employee.id}}">
      <div><span class="badge">ID: {{employee.id}}</span></div>
      <div><span>Name: </span>{{employee.name | uppercase}}</div>
      <div><span>Surname: </span>{{employee.surname | uppercase}}</div>
      <div><span>Age: </span>{{employee.age}}</div>
      <div><span>Email: </span>{{employee.email}}</div>

    </a>
  </li>
</ul>

