
.employees {
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.employees li {
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  margin: 3px;
  border-radius: 5px;
}
.employees li.selected:hover {
  background-color: rgb(118, 239, 255) !important;
  color: white;
}
.employees li:hover {
  color: rgb(7, 85, 124);
  background-color: #DDD;
  left: .1em;
}
.employees .text {
  position: relative;
  top: -3px;
}
.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 3px;
  background-color: rgb(57, 163, 216);
  line-height: 1em;
  position: relative;
  border-radius: 4px 0 0 4px;
}