<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Test!
  </h1>
  
<h2>Exercises:</h2>
<ul>
  <li>
    <h2><a routerLink="/process">Exercise 1</a></h2>
  </li>
  <li>
    <h2><a routerLink="/employees">Exercise 2</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>

