<!-- If selected developer don't exist it is removed from the DOM-->
<div *ngIf="employee">

    <h2>{{ employee.name | uppercase }} Details</h2>

    <div class="container">
        <div [hidden]="submitted">
          <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name"
                     required
                     [(ngModel)]="employee.name" name="name"
                     #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Name is required
              </div>
            </div>
       
            <div class="form-group">
              <label for="surname">Surname</label>
              <input type="text" class="form-control" id="surname"
                     [(ngModel)]="employee.surname" name="surname">
            </div>
       
       
            <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
          </form>
        </div>

      </div>

  </div>