<p>
  Insert a String to sort numbers
</p>

<div>
  <label>String:
    <input #process id="process" (keyup)="processString(process.value)" />
  </label>
  {{outputString}}
<p>Note: If the string present lower case characters the regex is /[A-Za-z]+/</p>
</div>